/* Theme: lux-red */
:root {
  --theme-background: #060607;
  --theme-background-rgb: 6, 6, 7;
  --theme-primary: #232929;
  --theme-primary-rgb: 35, 41, 41;
  --theme-accent: #7a0d13;
  --theme-accent-rgb: 122, 13, 19;
  --theme-highlight: #735347;
  --theme-highlight-rgb: 115, 83, 71;
  --theme-muted: #340c0d;
  --theme-muted-rgb: 52, 12, 13;
  --theme-ink: #0f1213;
  --theme-ink-rgb: 15, 18, 19;
}
