/* Theme: autumn-earth */
:root {
  --theme-background: #100907;
  --theme-background-rgb: 16, 9, 7;
  --theme-primary: #bc712b;
  --theme-primary-rgb: 188, 113, 43;
  --theme-accent: #766749;
  --theme-accent-rgb: 118, 103, 73;
  --theme-highlight: #c19859;
  --theme-highlight-rgb: 193, 152, 89;
  --theme-muted: #883713;
  --theme-muted-rgb: 136, 55, 19;
  --theme-ink: #4a3122;
  --theme-ink-rgb: 74, 49, 34;
}
