/* Theme: royal-amethyst */
:root {
  --theme-background: #0d0316;
  --theme-background-rgb: 13, 3, 22;
  --theme-primary: #94758f;
  --theme-primary-rgb: 148, 117, 143;
  --theme-accent: #3c3f67;
  --theme-accent-rgb: 60, 63, 103;
  --theme-highlight: #c3ada6;
  --theme-highlight-rgb: 195, 173, 166;
  --theme-muted: #884979;
  --theme-muted-rgb: 136, 73, 121;
  --theme-ink: #2d143d;
  --theme-ink-rgb: 45, 20, 61;
}
