/* Theme: cosmic-aurora */
:root {
  --theme-background: #070b16;
  --theme-background-rgb: 7, 11, 22;
  --theme-primary: #1c4b5e;
  --theme-primary-rgb: 28, 75, 94;
  --theme-accent: #192938;
  --theme-accent-rgb: 25, 41, 56;
  --theme-highlight: #577574;
  --theme-highlight-rgb: 87, 117, 116;
  --theme-muted: #4e5352;
  --theme-muted-rgb: 78, 83, 82;
  --theme-ink: #0b283b;
  --theme-ink-rgb: 11, 40, 59;
}
