:root {
  --beast-mark-techno-full-neon-green-50: #ECF9E4;
  --beast-mark-techno-full-neon-green-100: #E0F6D3;
  --beast-mark-techno-full-neon-green-200: #C8F4AD;
  --beast-mark-techno-full-neon-green-300: #AFF484;
  --beast-mark-techno-full-neon-green-400: #96F858;
  --beast-mark-techno-full-neon-green-500: #7CFF2A;
  --beast-mark-techno-full-neon-green-600: #5DEC04;
  --beast-mark-techno-full-neon-green-700: #48B206;
  --beast-mark-techno-full-neon-green-800: #337A06;
  --beast-mark-techno-full-neon-green-900: #1D4304;
  --beast-mark-techno-full-neon-green-950: #112903;
  --beast-mark-techno-full-electric-cyan-50: #DFF5F8;
  --beast-mark-techno-full-electric-cyan-100: #CAF0F5;
  --beast-mark-techno-full-electric-cyan-200: #9DE9F2;
  --beast-mark-techno-full-electric-cyan-300: #6CE4F2;
  --beast-mark-techno-full-electric-cyan-400: #38E3F6;
  --beast-mark-techno-full-electric-cyan-500: #00E5FF;
  --beast-mark-techno-full-electric-cyan-600: #03B7CB;
  --beast-mark-techno-full-electric-cyan-700: #058A99;
  --beast-mark-techno-full-electric-cyan-800: #055E68;
  --beast-mark-techno-full-electric-cyan-900: #04343A;
  --beast-mark-techno-full-electric-cyan-950: #022023;
  --beast-mark-techno-full-stark-white-50: #FDFDFE;
  --beast-mark-techno-full-stark-white-100: #FCFDFD;
  --beast-mark-techno-full-stark-white-200: #FAFBFC;
  --beast-mark-techno-full-stark-white-300: #F9FAFB;
  --beast-mark-techno-full-stark-white-400: #F7F8FA;
  --beast-mark-techno-full-stark-white-500: #F5F7FA;
  --beast-mark-techno-full-stark-white-600: #B7C5DA;
  --beast-mark-techno-full-stark-white-700: #7A93B9;
  --beast-mark-techno-full-stark-white-800: #4B648B;
  --beast-mark-techno-full-stark-white-900: #2B394D;
  --beast-mark-techno-full-stark-white-950: #1A232F;
  --beast-mark-techno-full-matte-gray-50: #EEEEEF;
  --beast-mark-techno-full-matte-gray-100: #E3E4E6;
  --beast-mark-techno-full-matte-gray-200: #CDD0D4;
  --beast-mark-techno-full-matte-gray-300: #B7BBC1;
  --beast-mark-techno-full-matte-gray-400: #A1A7AF;
  --beast-mark-techno-full-matte-gray-500: #8B939E;
  --beast-mark-techno-full-matte-gray-600: #6E7682;
  --beast-mark-techno-full-matte-gray-700: #545B64;
  --beast-mark-techno-full-matte-gray-800: #3B3F45;
  --beast-mark-techno-full-matte-gray-900: #212327;
  --beast-mark-techno-full-matte-gray-950: #141617;
  --beast-mark-techno-full-clinic-slate-50: #E0E2E5;
  --beast-mark-techno-full-clinic-slate-100: #CCD0D5;
  --beast-mark-techno-full-clinic-slate-200: #A4ACB7;
  --beast-mark-techno-full-clinic-slate-300: #7C8799;
  --beast-mark-techno-full-clinic-slate-400: #596475;
  --beast-mark-techno-full-clinic-slate-500: #3A424E;
  --beast-mark-techno-full-clinic-slate-600: #2F353E;
  --beast-mark-techno-full-clinic-slate-700: #242930;
  --beast-mark-techno-full-clinic-slate-800: #191C21;
  --beast-mark-techno-full-clinic-slate-900: #0E1012;
  --beast-mark-techno-full-clinic-slate-950: #08090B;
  --beast-mark-techno-full-void-black-50: #D0D8E7;
  --beast-mark-techno-full-void-black-100: #B2BFD9;
  --beast-mark-techno-full-void-black-200: #738DBF;
  --beast-mark-techno-full-void-black-300: #405E9A;
  --beast-mark-techno-full-void-black-400: #24375F;
  --beast-mark-techno-full-void-black-500: #0B1220;
  --beast-mark-techno-full-void-black-600: #090E19;
  --beast-mark-techno-full-void-black-700: #070B13;
  --beast-mark-techno-full-void-black-800: #05070D;
  --beast-mark-techno-full-void-black-900: #030407;
  --beast-mark-techno-full-void-black-950: #010204;
  --beast-mark-techno-full-biometric-magenta-50: #F9E4F5;
  --beast-mark-techno-full-biometric-magenta-100: #F6D3F0;
  --beast-mark-techno-full-biometric-magenta-200: #F4ADE6;
  --beast-mark-techno-full-biometric-magenta-300: #F485DF;
  --beast-mark-techno-full-biometric-magenta-400: #F859D9;
  --beast-mark-techno-full-biometric-magenta-500: #FF2BD6;
  --beast-mark-techno-full-biometric-magenta-600: #ED04C0;
  --beast-mark-techno-full-biometric-magenta-700: #B30691;
  --beast-mark-techno-full-biometric-magenta-800: #7A0664;
  --beast-mark-techno-full-biometric-magenta-900: #430437;
  --beast-mark-techno-full-biometric-magenta-950: #290321;
  --beast-mark-techno-full-signal-amber-50: #F9F1E3;
  --beast-mark-techno-full-signal-amber-100: #F6E9D0;
  --beast-mark-techno-full-signal-amber-200: #F3D9A9;
  --beast-mark-techno-full-signal-amber-300: #F4CA7F;
  --beast-mark-techno-full-signal-amber-400: #F7BC51;
  --beast-mark-techno-full-signal-amber-500: #FFB020;
  --beast-mark-techno-full-signal-amber-600: #E49503;
  --beast-mark-techno-full-signal-amber-700: #AC7105;
  --beast-mark-techno-full-signal-amber-800: #764E06;
  --beast-mark-techno-full-signal-amber-900: #412B04;
  --beast-mark-techno-full-signal-amber-950: #271A03;
  --beast-mark-techno-full-cold-silver-50: #F6F7F8;
  --beast-mark-techno-full-cold-silver-100: #F1F3F4;
  --beast-mark-techno-full-cold-silver-200: #E6E9ED;
  --beast-mark-techno-full-cold-silver-300: #DBE0E5;
  --beast-mark-techno-full-cold-silver-400: #D0D7DE;
  --beast-mark-techno-full-cold-silver-500: #C5CED8;
  --beast-mark-techno-full-cold-silver-600: #96A6B8;
  --beast-mark-techno-full-cold-silver-700: #697F97;
  --beast-mark-techno-full-cold-silver-800: #495869;
  --beast-mark-techno-full-cold-silver-900: #29323B;
  --beast-mark-techno-full-cold-silver-950: #191E24;
  --beast-mark-techno-full-carbon-black-50: #D9DBDE;
  --beast-mark-techno-full-carbon-black-100: #C0C4CA;
  --beast-mark-techno-full-carbon-black-200: #8F97A2;
  --beast-mark-techno-full-carbon-black-300: #616A78;
  --beast-mark-techno-full-carbon-black-400: #393F48;
  --beast-mark-techno-full-carbon-black-500: #121417;
  --beast-mark-techno-full-carbon-black-600: #0E1012;
  --beast-mark-techno-full-carbon-black-700: #0B0C0E;
  --beast-mark-techno-full-carbon-black-800: #070809;
  --beast-mark-techno-full-carbon-black-900: #040405;
  --beast-mark-techno-full-carbon-black-950: #020303;
}