/* Theme: mono-neutral */
:root {
  --theme-background: #040404;
  --theme-background-rgb: 4, 4, 4;
  --theme-primary: #89897f;
  --theme-primary-rgb: 137, 137, 127;
  --theme-accent: #2a221e;
  --theme-accent-rgb: 42, 34, 30;
  --theme-highlight: #e8eadf;
  --theme-highlight-rgb: 232, 234, 223;
  --theme-muted: #564d43;
  --theme-muted-rgb: 86, 77, 67;
  --theme-ink: #101112;
  --theme-ink-rgb: 16, 17, 18;
}
