/* Theme: bright-jewel */
:root {
  --theme-background: #030712;
  --theme-background-rgb: 3, 7, 18;
  --theme-primary: #106971;
  --theme-primary-rgb: 16, 105, 113;
  --theme-accent: #072546;
  --theme-accent-rgb: 7, 37, 70;
  --theme-highlight: #e4cd49;
  --theme-highlight-rgb: 228, 205, 73;
  --theme-muted: #8a2126;
  --theme-muted-rgb: 138, 33, 38;
  --theme-ink: #1f1e33;
  --theme-ink-rgb: 31, 30, 51;
}
