/* Theme: spectrum */
:root {
  --theme-background: #09061c;
  --theme-background-rgb: 9, 6, 28;
  --theme-primary: #955d7e;
  --theme-primary-rgb: 149, 93, 126;
  --theme-accent: #c1b575;
  --theme-accent-rgb: 193, 181, 117;
  --theme-highlight: #fffef7;
  --theme-highlight-rgb: 255, 254, 247;
  --theme-muted: #391754;
  --theme-muted-rgb: 57, 23, 84;
  --theme-ink: #0f1423;
  --theme-ink-rgb: 15, 20, 35;
}
