/* Theme: zen-mist */
:root {
  --theme-background: #19252b;
  --theme-background-rgb: 25, 37, 43;
  --theme-primary: #c9b8ba;
  --theme-primary-rgb: 201, 184, 186;
  --theme-accent: #909a97;
  --theme-accent-rgb: 144, 154, 151;
  --theme-highlight: #dde1e5;
  --theme-highlight-rgb: 221, 225, 229;
  --theme-muted: #9b7a81;
  --theme-muted-rgb: 155, 122, 129;
  --theme-ink: #57716a;
  --theme-ink-rgb: 87, 113, 106;
}
