/* Theme: blue-marble */
:root {
  --theme-background: #04081b;
  --theme-background-rgb: 4, 8, 27;
  --theme-primary: #0c5899;
  --theme-primary-rgb: 12, 88, 153;
  --theme-accent: #5692ae;
  --theme-accent-rgb: 86, 146, 174;
  --theme-highlight: #aecfd4;
  --theme-highlight-rgb: 174, 207, 212;
  --theme-muted: #535b71;
  --theme-muted-rgb: 83, 91, 113;
  --theme-ink: #05285f;
  --theme-ink-rgb: 5, 40, 95;
}
